@charset "utf-8";
/*@font-face {
	font-family: 'PingF';
	src: url("../font/PingFang_Medium_0.eot") format('eot');
	src: url("../font/PingFang_Medium_0.eot?iefix") format('opentype'), url("../font/PingFang_Medium_0.ttf") format("truetype");
}*/

* {
	margin: 0;
	padding: 0;
}
/*html{
	font-size: 62.5%;
}*/
::-ms-clear, ::-ms-reveal{display: none;}
body {
	color: #333;
	/*font-family: "PingF", "微软雅黑", "宋体";*/
	font-family: "微软雅黑", "宋体";
	font-size: 100%;
}

a {
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	vertical-align: top;
	border: none;
}

input {
	outline: none;
}

button,
optgroup,
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	outline: none;
	border-radius: 0;
}


/*去掉webkit默认的表单样式*/

select::-ms-expand {
	display: none;
}

select {
	background: #fff url(../images/bottom_img.png) right 10px center no-repeat;
	padding-right: 30px !important;
	padding-right: 0 !important\0; 
	padding-left: 5px !important;
}

.lfloat {
	float: left;
}

.rfloat {
	float: right;
}

.clear {
	clear: both;
}


/*加载动画*/

#hty_loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff url(../images/publicImg/loding_cx_bg.jpg) center no-repeat;
	background-size: 100% 100%;
	z-index: 999999999;
	/*display: block !important;*/
}
#hty_loading .loading_cx_img{
	/*background: url(../images/publicImg/loading_cx_img.png) center bottom no-repeat;*/
	/*background-size: 100% auto;*/
	position: absolute;
	width: 10%;
	height: 100px;
	left: 0;
	top: 50%;
	margin-top: -73px;
}
#hty_loading .loading_cx_img img{
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}
#hty_loading .loading_hr{
	position: absolute;
	height: 2px;
	width: 96%;
	left: 2%;
	top: 50%;
	margin-top: 27px;
	border-top: 3px solid #F3F3F3;
} 
#hty_loading .loading_nubmer{
	font-size: 18px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 0;
	height: 30px;
	margin-top: 35px;
	width: 10%;
	text-align: center;
}

/*head*/

#head {
	padding: .15rem .3rem .15rem .3rem;
	background: #fff;
}

#logo {
	display: inline-block;
	width: 1.57rem;
	height: .41rem;
	/*background: url(../images/head-logo.png) center no-repeat;*/
	/*background-size: 1.57rem .41rem;*/
}

#logo img {
	width: 100%;
}

#Nav,
#head .selCs,.city_location {
	height: .41rem;
	line-height: .41rem;
	font-size: 0.14rem
}

#head .selCs {
	/*cursor: pointer;*/
	margin-left: .4rem;
	position: relative;
}

#head .selCs .CsName {
	font-size: 13px;
	color: #666;
	margin-left: .12rem;
}
#head .city_location{
	cursor: pointer;
    margin-left: 0.5rem;
    position: relative;
    font-size: 16px;
}
#head .RedJtIcon {
	display: inline-block;
	width: 12px;
	height: 5px;
	line-height: 0.05rem;
	background: url(../images/select.png) center no-repeat;
	background-size: 98% 97%;
	top: 47%;
	position: absolute;
	margin-top: -.02rem;
	left: .35rem;
	margin-left: .08rem;
}

.auto-city {
	width: 1rem;
	height: .4rem;
	z-index: 999;
	background: #fff;
	position: absolute;
	cursor: pointer;
}

.this-city {
	width: 1rem;
	height: .5rem;
	border: 1px solid #e5e5e5;
	z-index: 9999;
	border-bottom: none;
	position: absolute;
	background: #f2f2f2;
}

.dorpdown {
	width: 7.8rem;
	position: absolute;
	top: .5rem;
	left: 0;
	z-index: 9998;
	font-size: 13px;
	border: 1px solid #e5e5e5;
	background: #f2f2f2;
	display: none;
}

.dorpdown-line {
	width: 7.8rem;
	height: auto;
	line-height: .4rem;
	border-bottom: 1px dashed #e5e5e5;
}

.dorpdown-l {
	float: left;
	width: 1rem;
	background: #f2f2f2;
}

.dorpdown-l span,
.dorpdown-l b {
	display: block;
	margin-left: .12rem;
}

.dorpdown-r {
	float: left;
	width: 6.8rem;
	background: #fff;
}

.dorpdown-r span,
.dorpdown-r b {
	float: left;
	display: block;
	margin-left: 20px;
	margin-right: 40px;
	cursor: pointer;
}

.solid {
	border-bottom: 1px solid #e5e5e5;
}

.dorpdown-r span:hover,
.dorpdown-r b:hover,
.red {
	color: #da202e;
}

#head .triangle {
	background: url(../images/triangle.png) center no-repeat;
	background-size: 98% 97%;
	margin-top: -0.07rem;
}

#Nav {
	width: 11rem;
	margin: 0 auto;
	text-align: center;
}

#Nav>li {
	display: inline-block;
	margin-left: .3rem;
	margin-right: .3rem;
	font-size: 16px;
	position: relative;
}

#Nav>li>a {
	display: block;
}

.NavMargin {
	margin-right: 113px !important;
}

.pinpcxSlide {
	position: absolute;
	width: 15rem;
	background: #fff;
	z-index: 9999;
	border-top: #CDCDCD 1px solid;
	left: -5.5rem;
	top: .56rem;
	text-align: left;
	display: none;
}

.pinpcxSlide .TopJtIcon,
#head .slideMenu .TopJtIcon {
	display: block;
	position: absolute;
	width: .16rem;
	height: .09rem;
	background: url(../images/tab-bor-top.png) no-repeat;
	background-size: .16rem .09rem;
	top: -.09rem;
	left: 5.75rem;
}

.pinpcxSlide .hrBox {
	position: absolute;
	width: 100%;
	border-bottom: #CCCCCC 1px solid;
	top: .4rem;
	left: 0;
}

.pinpcxSlide .sxBox {
	position: absolute;
	height: 100%;
	left: 7rem;
	border-right: #CCC 1px solid;
	;
}

.pinpcxSlide .sxBox2 {
	left: 9.61rem;
}

.pinpcxSlide .sxBox3 {
	left: 12.28rem;
}

.pinpcxSlide .sxBox4 {
	left: 4.4rem;
}

.pinpcxSlide>div {
	float: left;
}

.pinpcxSlide>div .title {
	text-align: center;
	height: .4rem;
	line-height: .4rem;
}

.pinpcxSlide .jcBox {
	width: 4.4rem;
}

.pinpcxSlide .suvBox,
.pinpcxSlide .yzjkBox,
.pinpcxSlide .shuangqBox {
	width: 2.6rem;
}

.pinpcxSlide .zxkcBox {
	width: 2.66rem;
}

.pinpcxSlide .yzjkBox {
	border: none;
}

.pinpcxSlide .cxContent {
	padding-top: .2rem;
	padding-bottom: .2rem;
}

.pinpcxSlide .cxContent li {
	text-align: center;
	width: 2.2rem;
	float: left;
	height: 1.59rem;
}

.pinpcxSlide .suvBox .cxContent li,
.pinpcxSlide .zxkcBox .cxContent li,
.pinpcxSlide .yzjkBox .cxContent li,
.pinpcxSlide .shuangqBox .cxContent li {
	width: 100%;
}

.pinpcxSlide .cxContent li .linkBox {
	border: #DBDBDB 1px solid;
	line-height: .31rem;
	font-size: 13px;
	margin-left: .03rem;
	margin-right: .03rem;
	padding: .05rem .1rem;
	display: none;
	transition: border .3s,background-color .3s, color .3s;
}
.pinpcxSlide .cxContent li .linkBox:hover{
	border: #E60021 1px solid;
	background: #E60021;
	color: #fff !important;
}

.pinpcxSlide .cxContent li .CxImgBox {
	width: 2.14rem;
	height: .85rem;
	display: table-cell;
	vertical-align: middle;
}

.pinpcxSlide .suvBox .cxContent li .CxImgBox,
.pinpcxSlide .zxkcBox .cxContent li .CxImgBox,
.pinpcxSlide .yzjkBox .cxContent li .CxImgBox,
.pinpcxSlide .shuangqBox .cxContent li .CxImgBox {
	width: 2.6rem;
}

.pinpcxSlide .cxContent li .CxImgBox img {
	width: 50%;
}

.pinpcxSlide .cxContent .imgLinck {
	display: block;
	height: 1.2rem;
	overflow: hidden;
	font-size: 13px;
}
.pinpcxSlide img{
	-webkit-transition: -webkit-transform .2s;
	-moz-transition: -moz-transform .2s;
	-ms-transition: -ms-transform .2s;
	transition: transform .2s;
}
.pinpcxSlide img:hover{
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

#Nav li a:hover {
	color: #D8202E;
}

#Nav li.NoMarginL {
	margin-left: 0;
}

#Nav li.NoMarginR {
	margin-right: 0;
}

#Nav .secBut {
	display: inline-block;
	width: .2rem;
	height: .2rem;
	line-height: .2rem;
	background: url(../images/search.png) center no-repeat;
	background-size: .2rem .2rem;
	cursor: pointer;
}

#Nav .secInput {
	width: 3rem;
	height: .38rem;
	line-height: .38rem;
	border: 1px solid #ccc;
	text-align: left;
	display: none;
}

#Nav .secInput input {
	border: none;
	text-indent: 1em;
	width: 2.4rem;
	font-size: 13px;
}

#Nav .secInput .GoBut {
	display: inline-block;
	width: .48rem;
	height: .3rem;
	line-height: .3rem;
	border-left: 1px solid #ccc;
	text-align: center;
	color: #999;
}

#head .rightLogo {
	display: inline-block;
	width: 1.25rem;
	height: .17rem;
	line-height: .17rem;
	margin-top: .12rem;
	/*background: url(../images/head-logo2.png) center no-repeat;*/
	/*background-size: 1.25rem .17rem;*/
}

#head .rightLogo img {
	width: 100%;
}


/*菜单下拉*/

#head .slideMenu {
	position: absolute;
	background: #fff;
	z-index: 9999;
	width: 1.45rem;
	left: 50%;
	top: .56rem;
	margin-left: -0.75rem;
	border: 1px solid #D7D8D8;
	text-align: left;
	padding: .15rem 0;
	display: none;
	text-align: center;
}
@media only screen and (min-width: 100px) and (max-width: 1500px) {
	#head .slideMenu{
		width: 1.6rem;
	}
	#head .slideMenu2{
		width: 1.7rem;
	}
}
#head .slideMenu .TopJtIcon {
	left: 50%;
	margin-left: -0.08rem;
}

#head .slideMenu .marginStyle {
	margin-top: .15rem;
}
#head .slideMenu li a{
	display: block;
	height: 100%;
	text-align: left;
	padding-left: 0.55rem;
	font-size: 14px;
	background: url(../images/publicImg/nav_jianth.png) 0.35rem center no-repeat;
	background-size: 0.07rem 0.11rem;
}
#head .slideMenu li a:hover{
	color: #fff;
	background:#00609A url(../images/publicImg/nav_jiantb.png) 0.35rem center no-repeat;
	background-size: 0.07rem 0.11rem;
}
#head .slideMenu li b{
	font-size: 16px;
	display: block;
	text-align: left;
	padding-left: 0.45rem;
}

/*foot*/

#foot {
	background: #191919;
	padding-top: 3%;
	font-size: 14px;
	position: relative;
}

#foot .footMenu,
#foot .FriendLick {
	padding-left: 1.94rem;
}

#foot .LeftM,
#foot .ZhongjM {
	height: 1.76rem;
	border-right: #373737 1px dashed;
	padding-right: .8rem;
	margin-right: .8rem;
}

#foot .LeftM {
	background: url(../images/people.png) left center no-repeat;
	background-size: 1.1rem 1.28rem;
}

#foot .LeftM div {
	margin-left: 1.28rem;
	color: #BEBEBE;
	font-size: 14px;
	padding-top: .1rem;
}

#foot .LeftM div span {
	color: #4C4C4C;
}

#foot .LeftM .fontB {
	font-size: 23px;
	font-style: italic;
	padding-top: .3rem;
}

#foot .LeftM .fontC {
	color: #AA392B;
	font-style: italic;
	padding-top: 0;
	margin-bottom: .1rem;
}

#foot .ZhongjM {
	width: 3.5rem;
	padding-right: 0;
	padding-top: .05rem;
}

#foot .ZhongjM li {
	display: inline-block;
	width: 1.5rem;
	margin-top: .15rem;
}

#foot .ZhongjM li a {
	color: #989898;
	font-size: 14px;
}

#foot .ZhongjM li a:hover {
	color: #fff;
}

/*#foot .gdyhBox {
	position: relative;
}*/

#foot .gdyhBox div {
	font-size: 20px;
	font-style: italic;
	color: #797979;
	margin-bottom: .2rem;
	margin-top: .15rem;
}

#foot .gdyhBox span {
	display: inline-block;
	width: 81px;
	height: 81px;
	cursor: pointer;
	position: relative;
}

#foot .gdyhBox .weix {
	background: url(../images/publicImg/footPublicIcon.png) 0 0 no-repeat;
	background-size: 81px 336px;
	margin-right: .3rem;
	position: relative;
}

#foot .gdyhBox .weix:hover {
	background: url(../images/publicImg/footPublicIcon.png) 0 -86px no-repeat;
	background-size: 81px 336px;
	margin-right: .3rem;
}

#foot .gdyhBox .app{
	background: url(../images/publicImg/app_link_icon.png) 0 0 no-repeat;
	background-size: 81px 81px;
	margin-right: .3rem;
}
#foot .gdyhBox .app:hover{
	background: url(../images/publicImg/app_link_icon_h.png) 0 0 no-repeat;
	background-size: 81px 81px;
}
#foot .gdyhBox .cat {
	background: url(../images/publicImg/footPublicIcon.png) 0 -170px no-repeat;
	background-size: 81px 336px;
}

#foot .gdyhBox .cat:hover {
	background: url(../images/publicImg/footPublicIcon.png) 0 -255px no-repeat;
	background-size: 81px 336px;
}
#foot .FriendLick{
	margin-top: .7rem;
}
#foot .FriendLick li {
	display: inline-block;
	font-size: 14px;
	color: #7E7E7E;
	margin-right: .25rem;
	margin-top: 0.1rem;
}

#foot .FriendLick li a {
	color: #7E7E7E;
}

#foot .FriendLick li a:hover {
	color: #fff;
}

#foot .Copy {
	border-top: #303030 1px solid;
	text-align: center;
	color: #6E6E6E;
	margin-top: .65rem;
	padding: .65rem 0 1px 0;
}

#foot .Copy div {
	margin-bottom: .2rem;
}


/*浮层按钮*/

.fucMenuBox {
	position: fixed;
	top: 25%;
	right: 0;
	background: #fff;
	z-index: 99999;
}

.fucMenuBox li {
	position: relative;
	margin-bottom: 1px;
	background: #000;
}

.fucMenuBox .hty_lastLi {
	margin: 0;
	display: none;
}

.fucMenuBox li>a {
	display: block;
	width: 52px;
	height: 52px;
	z-index: 9999;
	position: relative;
}

.fucMenuBox li .ChaxBut {
	background: url(../images/here.png) center no-repeat;
	background-size: 19px 24px;
}

.fucMenuBox li .fenxBut {
	background: url(../images/fen.png) center no-repeat;
	background-size: 26px 26px;
}

.fucMenuBox li .TopBut {
	background: url(../images/fxpIcon.png) center no-repeat;
	background-size: 31px 31px;
	animation: fxpanimet 1.1s infinite alternate;
}
.fucMenuBox li .Top_Icon_But {
	background: url(../images/top_page_icon.png) center no-repeat;
	background-size: 31px 31px;
}
.fucMenuBox li .fcShow {
	position: absolute;
	height: 100%;
	top: 0;
	right: -300px;
	background: #000;
}

.fucMenuBox li .fcShow a {
	display: block;
	width: 125px;
	color: #FFF;
	font-size: 14px;
	text-indent: 20px;
	line-height: 52px;
}

/*微信二维码弹出*/

.wx_qrcode {
	position: absolute;
	display: none;
	width: 81px;
	height: 81px;
	top: 0;
	margin: 0 !important;
}
.wx_qrcode img {
	width: 81px;
	height: 81px;
}
/*.wx_qrcode .wx_close {
	position: absolute;
	left: 60%;
	top: 15%;
	display: block;
	width: 50px;
	height: 50px;
	background: url("../images/publicImg/wx_close.png")no-repeat;
	background-size: 100% 100%;
	cursor: pointer;
}*/
.wx_qrcode .wx_close:hover {
	transition: all 0.5s;
	transform: rotate(180deg);
}

/**/

@keyframes fxpanimet {
	0% {
		transform: rotate(30deg);
	}
	100% {
		transform: rotate(-30deg);
	}
}

.DownMenu {
	text-align: center;
	background: #ECF0F1;
	width: 16.8rem;
	height: 300px;
	display: table-cell;
	vertical-align: middle;
}
.DownMenu img{
	vertical-align: middle;
	height: 95%;
	margin-right: 0.1rem;
}
.DownMenu a {
	display: inline-block;
	width: 2.5rem;
	height: .78rem;
	line-height: .78rem;
	text-indent: .15rem;
	font-size: 16px;
	margin-left: .7rem;
	margin-right: .7rem;
}

.DownMenu a:hover {
	color: #EA4B35;
}


/*单页宽度固定*/

.danye {
	width: 1165px;
	margin: 40px auto;
	font-size: 14px;
	line-height: 24px;
}

#banner {
	/*height: 414px;*/
	background: url(../images/banner_02.png) top center no-repeat;
	background-size: cover;
}


/*遮罩层*/

.mask {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .3);
	filter: progid: DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#50000000, endColorstr=#50000000) \9;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	display: none;
}

.success {
	width: 7.84rem;
	height: 4.72rem;
	padding-bottom: .2rem;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -2.3rem;
	margin-left: -3.92rem;
	background: #fff;
	z-index: 99999999;
}

.success .title {
	background: #f1c40f;
	font-size: .24rem;
	color: #fff;
	height: .6rem;
	line-height: .6rem;
	text-align: center;
	position: relative;
}

.success .title h1 {
	font-size: .24rem;
	font-weight: normal;
}

.success .title .close {
	position: absolute;
	right: 0;
	top: .15rem;
	display: block;
	padding-right: .1rem;
	cursor: pointer;
}

.success .rili {
	background: url("../images/rili.png") no-repeat;
	background-size: 100% 100%;
	width: 3.16rem;
	height: 1.93rem;
	margin: 0.25rem auto;
	text-align: center;
	padding-top: 0.86rem;
	margin-bottom: 0.4rem;
}

.success .rili .yyss {
	font-size: .24rem;
	margin-top: 0.5rem;
}

.success .rili .time {
	font-size: 15px;
	width: 2.4rem;
	margin-left: auto;
	margin-right: auto;
	line-height: 25px;
	color: #333;
	border:none;
}

.success p {
	width: 4.95rem;
	font-size: 15px;
	text-align: center;
	line-height: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -10px;
}


/*分享*/

.bdsharebuttonbox {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
}

.bdsharebuttonbox .bds_more {
	background: none !important;
	display: block !important;
	position: absolute !important;
	width: 100% !important;
	height: 100% !important;
}

.bdshare_popup_box {
	left: auto !important;
	right: 0 !important;
}

.bdshare_popup_bg,
.bdshare_popup_box {
	display: none !important;
}

.bdshare_show {
	display: block !important;
}
#content{
	font-size: 16px;
	width: 100%;
	overflow-x: hidden;
}
/*分享重置*/
.bdshare_dialog_list li{
	display: none;
}
.bdshare_dialog_list li:nth-child(2),.bdshare_dialog_list li:nth-child(5),.bdshare_dialog_list li:nth-child(14){
	display: block;
}
.bdshare_dialog_box{
	height: 128px;
}
.nicescroll-rails{
	display: none !important;
}

/*预试驾弹窗start*/
.capital{width:100%; height: 100%; position: fixed; top:0; left:0; z-index: 999999; font-size: 16px;}
.capital input{outline:none;}
.capital .cap-shadow{background: rgba(0, 0, 0, .5); filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 0, startColorstr = #50000000, endColorstr = #50000000)\9; width:100%; height: 100%;}
.capital .cap-title{width:400px; margin: 0 auto; font-size: 16px;}
.capital .cap-title img{width:100%;}
.capital .cap-box{background: url(../images/publicImg/box_bg.jpg) no-repeat; width:400px; height: 565px; position: absolute; top:50%; left:50%; margin-left:-200px; margin-top:-282.5px; background-size: 100% 100%; font-size: 16px;}
.capital .form-group{    
	width: 296px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    font-size: 16px;
}
.capital .input-tips {
	display: inline;
	position: absolute;
	left: 5px;
	font-size: 12px;
	padding-top:8px;
	padding-bottom: 8px;
}
.capital .date-tips {
	display: none;
	display: inline\9;
	position: absolute;
	left: 7px;
}

.capital .form-group input {
	width: 289px;
	font-size: 12px;
	/*line-height: 0.35rem\9;*/
	padding-left: 5px;
	background: none;
	border: 1px solid #333;
	float: left;
	padding-top:8px;
	padding-bottom: 8px;
	padding-right: 0;
	color: #333;
	height: auto;
}
.capital .form-group input.input1{margin-top: 0;}

.capital .mt30 {
	margin-top: 13px;
}

.capital .mt15 {
	margin-top: 13px;
}

.capital .border_white {
	border: 1px solid #333;
}

.capital .my_name {
	position: relative;
}

.capital .gender {
	position: absolute;
	right: 5%;
	top: 6px;
	height: auto;
    line-height: 20px;
    margin-top: 0;
}

.capital .gender li {
	float: left;
	background: url(../images/publicImg/yuan4.png) center left no-repeat;
	padding-left: .25rem;
	margin-left: .2rem;
	cursor: pointer;
}

.capital .gender li.xuez {
	background: url(../images/publicImg/yuan3.png) center left no-repeat;
	padding-left: .25rem;
}

.capital .dealer-province,.capital .dealer-city,.capital .dealer-store {
	width: 48%;
	/*height: .43rem;
	line-height: .43rem;*/
	padding-top:8px;
	padding-bottom: 8px;
	height: auto\9;
	background: url(../images/publicImg/jiantou_down_gray.png) right .1rem center no-repeat;
	color: #333;
	color: #000\9;
	background-size: .14rem .08rem;
	font-size: 12px;
	float: left;
	padding-right: 0\9 !important;
	margin-top:0;
	height: auto;
}
.capital .ht_qxSlideBox i{display: inline-block; width:.14rem; height: .08rem; position: absolute; top:12px; right:.1rem;}
.capital .ht_qxSlideBox i img{width:100%;}

.capital .dealer-city {
	float: right;
}

.capital .dealer-store {
	width: 100%;
}

.capital .time {
	position: relative;
	border: none;
}

.capital .time img {
	position: absolute;
	top: 50%;
	margin-top: -.12rem;
	right: .13rem;
	cursor: pointer;
	width: .24rem;
	height: .24rem;
}

select {
	border: 0;
}

.map {
	width: 3.6rem;
	height: 2.4rem;
	margin-left: auto;
	margin-right: auto;
	background: #333;
}

.capital .icon-bottom_footer {
	font-size: .16px;
	text-align: center;
	width:100%;
}

.capital .icon-bottom_footer .block {
	/*text-align: center;*/
	height: 20px;
	line-height: 20px;
	/*width: 100%;*/
	margin-left: auto;
	margin-right: auto;
	font-size: 13px;
	margin-top:0;
	display: inline-block;
}

.capital .icon-bottom_footer .block input {
	float: left;
	margin-top: 3px;
	margin-right: 5px;
}

.capital .icon-bottom_footer div .span {
	color: #eb5742;
}

.capital .icon-bottom_footer #but6 {
	display: block;
	width: 400px;
	background: #2a80b9;
	line-height: 48px;
	font-size: 18px;
	color: #fff;
	margin: 0 auto 10px;
	margin-top: 40px;
	text-align: center;
	cursor: pointer;
}

.capital .wrong-m6 {
	color: red;
	text-align: center;
	height: 21px;
	font-size: 16px;
	margin-top:5px;
}

.capital #but6 {
	width: 292px;
	height: 47px;
	line-height: 47px;
	text-align: center;
	background: #ffd800;
	display: block;
	margin-left: auto;
	margin-right: auto;
	color: #fff;
	font-size: .24rem;
	cursor: pointer;
}

.none {
	display: none;
}

.block {
	display: block;
}

#allmap {
	width: 100%;
	height: 100%;
}

.capital .form-group .red-border {
	border: 1px solid red;
}

.capital .dealer-store {
	border: 1px solid #333;
}

.capital #datepicker_showTime3 {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../images/publicImg/rl_img_gray.png") right 0.1rem center no-repeat;
	background: url("../images/publicImg/rl_img_gray.png") right center no-repeat\9;
	background-size: .24rem .24rem;
}
.pika-label{
	vertical-align: text-top;
}
.pika-title{height: 50px;}

/*隐私政策弹框*/
.Privacy_policy{
	position: fixed;
	top: 50%;
	left: 50%;
	background: #fff;
	color: #333;
	font-size: 16px;
	width: 8rem;
	height: 6rem;
	margin-top: -3rem;
	margin-left: -4rem;
	display: none;
	z-index: 999999;
}
.Privacy_policy .policy_title{
	height: 0.6rem;
	line-height: 0.6rem;
	text-align: center;
	position: relative;
	background: #4D4D4F;
	color: #fff;
	font-size: 18px;
}
.Privacy_policy .policy_con{
	padding: 0.3rem;
	height: 4.5rem;
	overflow: auto;
	line-height: 2em;
}
.Privacy_policy .Close_but{
	position: absolute;
	background: url(../images/close.png) center no-repeat;
	background-size: 100% 100%;
	width: 0.22rem;
	height: 0.22rem;
	top: .18rem;
	right: .2rem;
	cursor: pointer;
}
/*隐私政策弹框结束*/
.pika-single{z-index: 999999!important;}
.cap-close{position: absolute;
    right: -.6rem;
    top: 0;
    display: block;
    padding-right: .1rem;
    cursor: pointer;}
.capital input, .capital textarea, .capital select, .capital button{font-family: "微软雅黑", "宋体";}
.ht_qxSlideBox{font-size: 12px; position: relative; width:296px; margin-left:auto; margin-right: auto;}
.ht_qxSlideBox input{
    /*background: url(../images/publicImg/jiantou_down_gray.png) right 0.1rem center no-repeat;*/
    cursor: pointer;
    position: relative;
    width:289px;
    /*background-size: .14rem .08rem;*/
    display: block; border: 1px solid #333; padding-top:8px; padding-bottom: 8px; padding-left:5px;
    font-size: 12px;
    background: none;
}
.ht_qxSlideBox input.red-border{border:1px solid red;}
.ht_box {
    position: absolute;
    background: #fff;
    z-index: 999999;
    width: 294px;
    top: 28px;
    border:1px solid #333;
    max-height: 230px;
    overflow-y: auto;
    display: none;
}
.ht_box .ch-o{height: 28px; line-height: 28px; text-align: center; position: relative;}
.ht_box .ch-o b{display: inline-block; background: #fff; position: relative; z-index: 10px; padding:0 15px;}
.ht_box .ch-o i{border-bottom: 1px solid #333; position: absolute; top:7px; left:50%; width:80%; margin-left:-40%;}
.ht_qxSlideUl li{height: 24px; line-height: 24px; cursor: pointer; text-align: center;}
.ht_qxSlideUl li:hover{background: #1e90ff; color: #fff;}
/*预约试驾弹窗end*/
